/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-bg: rgba(0, 0, 40);
  --bg-image: url(../images/cover-image-dark.png);
  --rec-color: rgba(255, 0, 112);
  --decor-color: rgba(255, 0, 112);
  --btn-color: rgba(255, 0, 112);
  --btn-outline: rgba(255, 0, 112);
  --btn-outline-hover: rgba(255, 0, 112, 0.4);
  --h1-color: rgba(219, 0, 255);
  --h1-shadow: rgba(255, 0, 112);
  --title-color: rgba(255, 0, 112);
  --subtilte-color: rgba(0, 0, 40);
  --subtitle-bg: rgba(255, 0, 112);
  --text-color: rgba(241, 178, 206);
  --link-shadow: rgba(255, 0, 112);
}